@model IEnumerable<GeneralStore.MVC.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TransactionID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TransactionID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID })
    </td>
</tr>
}

</table>
